asn1crypto==1.5.1
boto3==1.35.71
botocore==1.35.71
jmespath==1.0.1
pg8000==1.31.2
psycopg2==2.9.10
psycopg2-binary==2.9.10
python-dateutil==2.9.0.post0
python-http-client==3.3.7
s3transfer==0.10.4
scramp==1.4.5
sendgrid==6.11.0
six==1.16.0
starkbank-ecdsa==2.2.0
urllib3==2.2.3
